<div class="row">
	<div class="container-fluid mx-5">
		<div class="card col text-white shadow mt-5 p-0 mx-auto" style="height: 4rem; width: 89%">
			<div class="card-body d-flex justify-content-around bg-ligthBlack">
				<ul class="d-flex">
					<li class="mx-5 text-white">
						<a href="">Mes Comptes</a>
					</li>
					<li class="mx-5 text-white">
						<a href="">Mes Informations</a>
					</li>
					<li class="mx-5 text-white">
						<a href="">Mes Assurances</a>
					</li>
					<li class="mx-5 text-white">
						<a href="">Mes Contacts</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
