body {
    background-color: rgb(6, 6, 31);
}

.bg-black {
    background-color: black;
}

.bg-ligthBlack {
    background-color: rgb(28, 4, 37) !important;
}

.bg-darkb {
    background-color: rgb(13, 13, 61);
}

.bg-darkGrey {
    background-color: rgba(68, 68, 68, 0.849) !important;
    border: 0;
    padding: 0;
    margin: 0;
}

.btn-danger {
    background-color: rgba(110, 0, 0, 527);
    border-color: rgba(110, 0, 0, 0.219);
}

.btn-success {
    background-color: rgba(0, 109, 82, 0.527);
    border-color: rgba(0, 109, 82, 0.246);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cadetblue;
    text-decoration: none;
}

.card {
    background-color: rgba(41, 41, 41, 0.308) !important;
    border: 0;
}

.card>h5 {
    background-color: rgba(58, 58, 58, 0.849) !important;
    border: 0;
}

.card-body {
    border: 0;
}

.card-header {
    padding: 10px 0 !important;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    width: 250px;
    height: 100%;
    box-shadow: 20px 0px 52px -20px rgb(0, 0, 0);
}

.sidebar #profile_image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 10px 0px 52px -10px rgb(0, 0, 0);
}

.content {
    margin-left: 250px;
    margin-top: 55px;
    height: 100vh;
    transition: 0.5s;
}

.wrapper {
    display: flex;
    transition: all 0.5s;
}