{% extends 'base.html.twig' %}

{# TitlePage #}
{% block title %}
	AdaLovelace - Nouveau Compte
{% endblock %}
{# ./TitlePage #}

{# stylessheetForDashboard #}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}
{# ./stylessheetForDashboard #}

{# navBarTop #}
{% block nav %}
	{% include "template-elem/userDash/navTop.html.twig" %}
{% endblock %}
{# ./navBarTop #}

{# header !! dont delete !! #}
{% block header %}{% endblock %}
{# ./header !! dont delete !! #}

{# Main content #}
{% block main %}

	<main
		class="col-md-9 ml-sm-auto col-lg-12 px-md-4 mt-5">

		{# sideNavBar #}
		{% include "template-elem/userDash/sideBarNav.html.twig" %}
		{# sideNavBar #}

		<div
			class="content">

			{# navMiddle #}
			{% include "template-elem/userDash/navMiddle.html.twig" %}
			{# ./navMiddle #}

			{# addAccount Form #}
				<div class="container"> <div class="row">
					<div class="col-sm col-lg-6 text-white mt-5">
						<h1>Ajout d'un nouveau compte</h1>
						{{form(form)}}
						</div>
					</div>
				</div>
				{# addAccount Form #}

			</main>
		{% endblock %}
		{# ./Main content #}

		{# footer !! dont delete !! #}
		{% block footer %}{% endblock %}
		{# ./footer !! dont delete !! #}
