{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}


	{% block nav %}
		{% include "template-elem/userDash/navTop.html.twig" %}
	{% endblock %}

	{% block header %}{% endblock %}


	{% block main %}


		<main
			class="col-md-9 ml-sm-auto col-lg-12 px-md-4 mt-5">

			{# sideNavBar #}
			{% include "template-elem/userDash/sideBarNav.html.twig" %}
			{# sideNavBar #}

			<div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success" role="alert">{{ message }}</div>
				{% endfor %}
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm col-lg-6 text-white mt-5">
						<h1>Ajout d'un nouveau compte</h1>
						{{form(form)}}
						</div>
					</div>
				</div>
			</main>
		{% endblock %}

		{% block footer %}{% endblock %}
	{% endblock %}
