{% extends 'base.html.twig' %}

{# Title Page #}
{% block title %}
	Mon Identite
{% endblock %}
{# ./Title Page #}

{% block stylesheets %}{% endblock %}

{# navBarTop #}
{% block nav %}
	{% include "template-elem/userDash/navTop.html.twig" %}
{% endblock %}
{# ./navBarTop #}

{# header !! dont delete !! #}
{% block header %}{% endblock %}
{# ./header !! dont delete !! #}

{# main Content #}
{% block main %}

	<main class="col-md-9 ml-sm-auto col-lg-12 px-md-4 mt-5">

		<div class="container">
			<div
				class="row">

				{# page name #}
				<div class="content">
					<div class="row">
						<div class="container-fluid text-dark text-center mx-5 p-0">
							<div class="col-2 card mx-4 mt-5">
								<h5 class="p-2">Mon Identité</h5>
							</div>
						</div>
					</div>
					{# ./page name #}

					<div class="col-sm col-lg-6">
						<h1>IDENTITY</h1>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
{# ./main content #}

{# footer !! dont delete !! #}
{% block footer %}{% endblock %}
{# ./footer !! dont delete !! #}
