{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{# navBarTop #}
{% block nav %}
	{% include "template-elem/userDash/navTop.html.twig" %}
{% endblock %}
{# ./navBarTop #}

{% block header %}{% endblock %}


{% block main %}

	<main
		class="col-md-9 ml-sm-auto col-lg-12 px-md-4 mt-5">

		{# sideNavBar #}
		{% include "template-elem/userDash/sideBarNav.html.twig" %}
		{# sideNavBar #}

		{# main Content #}
			<div class="content"> <div class="container">
				<div class="row">
					<div class="container-fluid text-dark text-center  p-0">
						<div class="col-2 card mt-5">
							<h5 class="p-2">Virement</h5>
						</div>
					</div>
					<div class="col-sm col-lg-6 card text-dark mt-5">
						{{form(form)}}
						</div>
					</div>
				</div>
			</main>
		{% endblock %}

		{% block footer %}{% endblock %}
